@model AplikacijaDijeljenihRadnihMjesta.Models.ViewModel.RezervacijaVM
<partial name="Upozorenja" view-data="ViewData" />
<link rel="stylesheet" type="text/css" href="~/css/Stranica.css" media="screen" 7 />

@{

    ViewData["index"] = TempData["uloga"];
    ViewData["ImePrezime"] = TempData["ImePrezime"];
}

<div class="card p-3 mt-5">

    <div class="col-12 pt-2">
        <h2 class="text-primary formTitle" style="text-align:center !important;">Zahtjevi za rezervaciju</h2>
    </div>
   
    <form method="post" asp-controller="Rezervacije" asp-action="Index">
        <div class="col-md-12" style="margin-bottom:10px">
            <select class="form-select form-filter"  asp-for="@Model.Lokacija" asp-items="@Model.Lokacije">
            </select>
            <input type="submit" value="Filtriraj"  class="btn btn-primary filter"  />
        </div>
    </form>


    <form method="post" asp-controller="Rezervacije" asp-action="Index">
        @if (Model.Rezervacije != null && Model.Rezervacije.Count() > 0)
        {
            <table class="table tableCss table-bordered table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>
                            Datum
                        </th>
                        <th>
                            Lokacija
                        </th>
                        <th>
                            Radno mjesto
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < @Model.Rezervacije.Count(); i++)
                    {
                        <tr>
                            <td id="items" width="10%">@Html.HiddenFor(m => m.Rezervacije[i].ZeljeniDatum) @Model.Rezervacije[i].ZeljeniDatum.ToShortDateString()</td>
                            <td id="items" width="40%">@Html.HiddenFor(m => m.Lokacija) @Model.Rezervacije[i].Adresa</td>
                            @if (@Model.Rezervacije[i].Status == "Otkazano")
                            {
                                <td id="items" width="30%" style="color:red;"> Odbijeno </td>
                            }
                            else
                            {
                                <td id="items" width="30%">@Html.HiddenFor(m => m.Rezervacije[i].SifraRadnogMjesta) @Model.Rezervacije[i].SifraRadnogMjesta</td>

                            }
                            <td class="text-center">
                                <div class="w-70 btn-group" role="group">
                                    @Html.HiddenFor(m => m.Rezervacije[i].Rezervirano)
                                    @Html.HiddenFor(m => m.Rezervacije[i].ZauzetoRadnoMjesto)
                                    @Html.HiddenFor(m => m.Rezervacije[i].Status)
                                    @if (Model.Rezervacije[i].Rezervirano || Model.Rezervacije[i].ZauzetoRadnoMjesto || Model.Rezervacije[i].Status == "Otkazano")
                                    {
                                        @Html.HiddenFor(m => m.Rezervacije[i].OdgovorCheckBox)
                                        @Html.CheckBoxFor(m => m.Rezervacije[i].OdgovorCheckBox, new
                                        {
                                            disabled = "disabled",
                                            style = "width:25px;height:23px"
                                        })

                                    }

                                    else if (Model.Rezervacije[i].ZauzetoRadnoMjesto)
                                    {
                                        @Html.HiddenFor(m => m.Rezervacije[i].OdgovorCheckBox)
                                        @Html.CheckBoxFor(m => m.Rezervacije[i].OdgovorCheckBox, new
                                        {
                                            disabled = "disabled",
                                            style = "width:25px;height:23px"
                                        })

                                    }
                                    else
                                    {
                                        @Html.CheckBoxFor(m => m.Rezervacije[i].OdgovorCheckBox, new
                                        {
                                            style = "width:25px;height:25px"
                                        })
                                    }
                                </div>
                            </td>
                        </tr>
                    }


                </tbody>
            </table>

            <div class="col-md-12" style="margin-bottom:10px">
                <input type="submit" name="command" style="font-size: 1em !important;float:right" class="btn btn-success" value="Podnesi zahtjev" />
            </div>

        }
        else
        {

            <p style="color:#323e9f; margin-top:15px;"><i class="fas fa-angle-double-right" style="color:skyblue; font-size:20px;"></i> Odaberite lokaciju na kojoj želite rezervirati radno mjesto!</p>
        }
    </form>
  
</div>


@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
       
    }
  
    
}
