@model AplikacijaDijeljenihRadnihMjesta.Models.Paginacija.PaginacijaOdobravanjeZahtjeva
<partial name="Upozorenja" view-data="ViewData" />
<link rel="stylesheet" type="text/css" href="~/css/Stranica.css" media="screen" 7 />

@{

    ViewData["index"] = "ADMIN";
    ViewData["Controller"] = "OdobravanjeZahtjeva";
    ViewData["Action"] = "Index";
}

<div class="card p-3 mt-5" style=" overflow-x: auto;">

    <div class="col-12 pt-2">
        <h2 class="text-primary formTitle" style="text-align:center !important;">Zahtjevi za odobravanje</h2>
    </div>
    <form method="post" asp-controller="OdobravanjeZahtjeva" asp-action="Index">
        <div class="col-md-12" style="margin-bottom:10px">
            <select class="form-select" style="display:inline-block;width:200px;" asp-for="@Model.odobravanjeZahtjeva.Status" asp-items="@Model.odobravanjeZahtjeva.Statusi">
                <option selected> Svi statusi </option>
            </select>
            <input type="submit" name="submitButton1" style="font-size: 1em !important; margin-bottom:4.5px;margin-left:20px;display:inline-block" class="btn btn-primary" value="Filtriraj" />

            

        </div>
    </form>
    <form method="post" asp-controller="OdobravanjeZahtjeva" asp-action="Index">
        @if (Model.odobravanjeZahtjeva.RezervacijeOtkazivanje != null && Model.odobravanjeZahtjeva.RezervacijeOtkazivanje.Count() > 0)
        {
            <table class="table tableCss table-bordered table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>
                            Ime i prezime
                        </th>
                        <th>
                            Tip zahtjeva
                        </th>
                        <th>
                            Datum
                        </th>
                        <th>
                            Dodatne informacije
                        </th>
                        <th>
                            Komentar na zahtjev
                        </th>
                        <th>
                            Odobreno
                        </th>
                        <th>
                            Otkazano
                        </th>


                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < @Model.odobravanjeZahtjeva.RezervacijeOtkazivanje.Count(); i++)
                    {
                        @Html.HiddenFor(m => m.odobravanjeZahtjeva.RezervacijeOtkazivanje[i].Id)
                        @Html.HiddenFor(m => m.odobravanjeZahtjeva.RezervacijeOtkazivanje[i].ZahtjevId)
                        <tr>
                            <td id="items" width="20%" style="text-align:center;vertical-align: middle;">@Html.HiddenFor(m => m.odobravanjeZahtjeva.RezervacijeOtkazivanje[i].DjelatnikEmail) @Model.odobravanjeZahtjeva.RezervacijeOtkazivanje[i].ImeIPrezime</td>
                            <td id="items" width="20%" style="text-align:center;vertical-align: middle;">@Html.HiddenFor(m => m.odobravanjeZahtjeva.RezervacijeOtkazivanje[i].TipZahtjeva) @Model.odobravanjeZahtjeva.RezervacijeOtkazivanje[i].TipZahtjeva</td>
                            <td id="items" width="30%" style="text-align:center;vertical-align: middle;">@Html.HiddenFor(m => m.odobravanjeZahtjeva.RezervacijeOtkazivanje[i].Datum) @Model.odobravanjeZahtjeva.RezervacijeOtkazivanje[i].Datum.ToShortDateString()</td>
                            <td style=" text-align: center; vertical-align: middle">
                                @Html.TextAreaFor(m => m.odobravanjeZahtjeva.RezervacijeOtkazivanje[i].RazlogOtkazivanja, new
                           {
                               disabled = "disabled",
                               @style = "min-height:50px;color:black ;width: 200px;font-size:12px; background:smoke;padding:5px;"
                           })

                            </td>
                            @if (Model.odobravanjeZahtjeva.RezervacijeOtkazivanje[i].Komentar != null || (Model.odobravanjeZahtjeva.RezervacijeOtkazivanje[i].Status=="Odobreno") || Model.odobravanjeZahtjeva.RezervacijeOtkazivanje[i].Status == "Otkazano")
                            {
                                <td style=" text-align: center; vertical-align: middle">
                                    @Html.TextAreaFor(m => m.odobravanjeZahtjeva.RezervacijeOtkazivanje[i].Komentar, new
                               {

                                        disabled = "disabled",
                                   @style = "min-height:50px;color:black;width: 200px; padding:5px; font-size:12px; background:smoke; "
                               })
                                </td>
                            }
                            else
                            {
                                <td style=" text-align: center; vertical-align: middle">
                                    @Html.TextAreaFor(m => m.odobravanjeZahtjeva.RezervacijeOtkazivanje[i].Komentar, new
                               {
                                   @style = "min-height:50px;width: 200px; font-size:12px; "
                               })
                                </td>
                            }


                            <td class="text-center" style=" text-align: center; vertical-align: middle;padding-right: 15px;padding-left: 15px;">
                                <div class="w-70 btn-group" role="group">
                                    @if (Model.odobravanjeZahtjeva.RezervacijeOtkazivanje[i].Status == "Odobreno" || Model.odobravanjeZahtjeva.RezervacijeOtkazivanje[i].Status == "Otkazano")
                                    {

                                        @Html.HiddenFor(m => m.odobravanjeZahtjeva.RezervacijeOtkazivanje[i].OdgovorCheckBoxOdobreno)
                                        if (Model.odobravanjeZahtjeva.RezervacijeOtkazivanje[i].Status == "Odobreno")
                                        {
                                            <i class="fas fa-check" style="font-size: 20px;color: #006700ad;"></i>
                                        }

                                    }
                                    else
                                    {
                                        @Html.CheckBoxFor(m => m.odobravanjeZahtjeva.RezervacijeOtkazivanje[i].OdgovorCheckBoxOdobreno, new
                                       {
                                       style = "width:22px;height:22px; background:green"
                                        })

                                    }
                                </div>
                            </td>
                            <td class="text-center" style=" text-align: center; vertical-align: middle;padding-right: 15px;padding-left: 15px;">
                                <div class="w-70 btn-group" role="group">
                                    @if (Model.odobravanjeZahtjeva.RezervacijeOtkazivanje[i].Status == "Otkazano" || Model.odobravanjeZahtjeva.RezervacijeOtkazivanje[i].Status == "Odobreno")
                                    {
                                        @Html.HiddenFor(m => m.odobravanjeZahtjeva.RezervacijeOtkazivanje[i].OdgovorCheckBoxOtkazano)

                                        if (Model.odobravanjeZahtjeva.RezervacijeOtkazivanje[i].Status == "Otkazano")
                                        {
                                            <i class="fas fa-times" style="font-size: 26.8px; color: #d23131c7"></i>
                                        }
                                    }

                                    else
                                    {
                                        @Html.CheckBoxFor(m => m.odobravanjeZahtjeva.RezervacijeOtkazivanje[i].OdgovorCheckBoxOtkazano, new
                                        {
                                            style = "width:22px;height:22px"
                                        })
                                    }


                                </div>
                            </td>

                        </tr>
                    }

                </tbody>
            </table>

            <div class="col-md-12" style="margin-bottom:10px">
                <input type="submit" style="font-size: 1em !important;float:right" class="btn btn-success" value="Potvrdi zahtjev" />
            </div>
        }
        else
        {
            <br /><br />
            <p>Nema zahtjeva za odobriti ili otkazati!</p>
        }
    </form>
    <form style="align-content:center" method="post" asp-controller="Zahtjevi" asp-action="Index">

        <partial name="_Pagination" view-data="ViewData" model="Model" />

    </form>


</div>


@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }

}