@model AplikacijaDijeljenihRadnihMjesta.Models.Paginacija.PaginacijaOdobravanjeZahtjeva
<partial name="Upozorenja" view-data="ViewData" />
<link rel="stylesheet" type="text/css" href="~/css/Stranica.css" media="screen" 7 />

@{

    ViewData["index"] = "ADMIN";
    ViewData["Controller"] = "OdobravanjeZahtjeva";
    ViewData["Action"] = "Index";
}

<div class="container p-3">

    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Zahtjevi za odobravanje</h2>
        </div>
    </div>
    <br /><br />
    <form method="post" asp-controller="OdobravanjeZahtjeva" asp-action="Index">
        <div class="row">
            <div class="col-md-3" style="padding-right:0px!important;margin-top:10px">
                <div>
                    <label asp-for="@Model.odobravanjeZahtjeva.Status">Odaberi adresu: </label>
                    <select asp-for="@Model.odobravanjeZahtjeva.Status" asp-items="@Model.odobravanjeZahtjeva.Statusi">
                        <option> Svi statusi </option>
                    </select>

                </div>
            </div>
            <div class="col-md-9" style="padding-right:0px!important">
                <input type="submit" name="submitButton1" style="font-size: 1em !important;" class="btn btn-primary" value="Filtriraj" />

            </div>

        </div>
    </form>
    <form method="post" asp-controller="OdobravanjeZahtjeva" asp-action="Index">
        @if (Model.odobravanjeZahtjeva.RezervacijeOtkazivanje != null && Model.odobravanjeZahtjeva.RezervacijeOtkazivanje.Count() > 0)
        {
            <table class="table table-bordered table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>
                            ID
                        </th>
                        <th>
                            Zahtjev ID
                        </th>
                        <th>
                            Ime i prezime
                        </th>
                        <th>
                            Tip zahtjeva
                        </th>
                        <th>
                            Datum
                        </th>
                        <th>
                            Status
                        </th>
                        <th>
                            Odobreno
                        </th>
                        <th>
                            Otkazano
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < @Model.odobravanjeZahtjeva.RezervacijeOtkazivanje.Count(); i++)
                    {
                        <tr>
                            <td id="items" width="10%">@Html.HiddenFor(m => m.odobravanjeZahtjeva.RezervacijeOtkazivanje[i].Id) @Model.odobravanjeZahtjeva.RezervacijeOtkazivanje[i].Id</td>
                            <td id="items" width="10%">@Html.HiddenFor(m => m.odobravanjeZahtjeva.RezervacijeOtkazivanje[i].Id) @Model.odobravanjeZahtjeva.RezervacijeOtkazivanje[i].ZahtjevId</td>
                            <td id="items" width="40%">@Html.HiddenFor(m => m.odobravanjeZahtjeva.RezervacijeOtkazivanje[i].DjelatnikEmail) @Model.odobravanjeZahtjeva.RezervacijeOtkazivanje[i].ImeIPrezime</td>
                            <td id="items" width="30%">@Html.HiddenFor(m => m.odobravanjeZahtjeva.RezervacijeOtkazivanje[i].TipZahtjeva) @Model.odobravanjeZahtjeva.RezervacijeOtkazivanje[i].TipZahtjeva</td>
                            <td id="items" width="30%">@Html.HiddenFor(m => m.odobravanjeZahtjeva.RezervacijeOtkazivanje[i].Datum) @Model.odobravanjeZahtjeva.RezervacijeOtkazivanje[i].Datum.ToShortDateString()</td>
                            @if (@Model.odobravanjeZahtjeva.RezervacijeOtkazivanje[i].Status == "Otkazano")
                            {
                                <td id="items" width="30%" style="color:red">@Html.HiddenFor(m => m.odobravanjeZahtjeva.RezervacijeOtkazivanje[i].Status) @Model.odobravanjeZahtjeva.RezervacijeOtkazivanje[i].Status</td>
                            }
                            @if (@Model.odobravanjeZahtjeva.RezervacijeOtkazivanje[i].Status == "Odobreno")
                            {
                                <td id="items" width="30%" style="color:green">@Html.HiddenFor(m => m.odobravanjeZahtjeva.RezervacijeOtkazivanje[i].Status) @Model.odobravanjeZahtjeva.RezervacijeOtkazivanje[i].Status</td>
                            }
                            @if (@Model.odobravanjeZahtjeva.RezervacijeOtkazivanje[i].Status == "cekanje")
                            {
                                <td id="items" width="30%" style="color:green">@Html.HiddenFor(m => m.odobravanjeZahtjeva.RezervacijeOtkazivanje[i].Status) </td>
                            }
                            <td class="text-center">
                                <div class="w-70 btn-group" role="group">
                                    @if (Model.odobravanjeZahtjeva.RezervacijeOtkazivanje[i].Status == "Odobreno" || Model.odobravanjeZahtjeva.RezervacijeOtkazivanje[i].Status == "Otkazano" )
                                    {

                                        @Html.HiddenFor(m => m.odobravanjeZahtjeva.RezervacijeOtkazivanje[i].OdgovorCheckBoxOdobreno)
                                        @Html.CheckBoxFor(m => m.odobravanjeZahtjeva.RezervacijeOtkazivanje[i].OdgovorCheckBoxOdobreno, new
                                        {
                                            disabled = "disabled",
                                            style = "width:25px;height:23px"
                                        })
                                    }
                                    else
                                    {
                                        @Html.CheckBoxFor(m => m.odobravanjeZahtjeva.RezervacijeOtkazivanje[i].OdgovorCheckBoxOdobreno, new
                                       {
                                       style = "width:25px;height:25px"
                                        })

                                    }
                                </div>
                            </td>
                            <td class="text-center">
                                <div class="w-70 btn-group" role="group">
                                    @if (Model.odobravanjeZahtjeva.RezervacijeOtkazivanje[i].Status == "Otkazano" || Model.odobravanjeZahtjeva.RezervacijeOtkazivanje[i].Status == "Odobreno" )
                                    {
                                        @Html.HiddenFor(m => m.odobravanjeZahtjeva.RezervacijeOtkazivanje[i].OdgovorCheckBoxOtkazano)
                                        @Html.CheckBoxFor(m => m.odobravanjeZahtjeva.RezervacijeOtkazivanje[i].OdgovorCheckBoxOtkazano, new
                                        {
                                            disabled = "disabled",
                                            style = "width:25px;height:23px"
                                        })
                                    }
                                    else
                                    {
                                        @Html.CheckBoxFor(m => m.odobravanjeZahtjeva.RezervacijeOtkazivanje[i].OdgovorCheckBoxOtkazano, new
                                        {
                                            style = "width:25px;height:25px"
                                        })
                                    }


                                </div>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>

            <div class="text-right">
                <input type="submit" style="font-size: 1em !important;" class="btn btn-primary" value="Podnesi zahtjev" />
            </div>


        }
        else
        {
            <br /><br />
            <p>Nema zahtjeva za odobriti ili otkazati!</p>
        }
    </form>
    <form style="align-content:center" method="post" asp-controller="Zahtjevi" asp-action="Index">
        <partial name="_Pagination" view-data="ViewData" model="Model" />
    </form>


</div>


@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }

}