@model IEnumerable<AplikacijaDijeljenihRadnihMjesta.Models.ViewModel.GradVM>

<link rel="stylesheet" type="text/css" href="~/css/Stranica.css" media="screen" 7 />
<partial name="Upozorenja" view-data="ViewData" />
@{
    ViewData["index"] = "ADMIN";
    ViewData["ImePrezime"] = TempData["ImePrezime"];
}

    <div class="card p-3 mt-5 " style=" overflow-x: auto;">
        <div class="col-12 pt-2 formTitle">
            <h2 class="formTitle" style="text-align:center !important;">Popis gradova</h2>
        </div>
 
        <div style="float:right;">
            <a style="float:right; text-align:right!important" asp-controller="Grad" asp-action="Create">
                <i class="fas fa-plus" style=" color: #2973b2 !important; margin-bottom:10px; text-align:right!important"></i>
            </a>
        </div>

        @if (Model != null && Model.Count() > 0)
        {
            <table class="table tableCss table-bordered table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>
                            Naziv
                        </th>
                        <th>
                            Oznaka
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var obj in Model)
                    {
                        <tr>
                            <td id="items" width="40%">@obj.Naziv</td>
                            <td id="items" width="30%">@obj.Oznaka</td>
                            <td class="text-center">
                                <div class="w-40 btn-group" role="group">
                                    <a asp-controller="Grad" asp-route-Id="@obj.Id" asp-action="Edit" class="btn btn-primary "><i class="fas fa-edit"></i></a>
          
                                    <a data-target="#DeleteModal-@obj.Id" data-toggle="modal" class=" btn btn-danger"><i class="fas fa-trash-alt"></i></a>
                                    <form method="post" asp-action="Delete" asp-controller="Grad" asp-route-Id="@obj.Id" >
                                        <div class="modal" tabindex="-1" role="dialog" id="DeleteModal-@obj.Id">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content" style="margin-top: 30%;">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">Potvrdite brisanje grada</h5>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p>Jeste li sigurni da želite obrisati grad: @obj.Naziv? </p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" style="width:min-content;" class="btn btn-primary" data-dismiss="modal">Odustani</button>
                                                        <button type="submit" style="width:min-content;" class="btn btn-danger">Obriši</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>

                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>Ne postoji niti jedan grad!</p>
        }
    </div>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }

}