@model AplikacijaDijeljenihRadnihMjesta.Models.ViewModel.DetaljiVM
<partial name="Upozorenja" view-data="ViewData" />
<link rel="stylesheet" type="text/css" href="~/css/Stranica.css" media="screen" 7 />
@{

    ViewData["index"] = TempData["uloga"];
}



<div class="card p-3 mt-5">
    <div class="col-12 pt-2">
        <h2 class="text-primary formTitle" style="text-align:center !important; margin-bottom:40px !important;">Detalji o zahtjevu</h2>
    </div>



    <table class="table tableCss table-bordered table-striped ">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Datum
                </th>
                <th>
                    šifra
                </th>
                <th>
                    TipLaptopa
                </th>
                <th>
                    Grad
                </th>
                <th>
                    Adresa
                </th>
                <th>
                    Komentar
                </th>
                <th>
                    Status
                </th>
            </tr>
        </thead>

        <tbody>
            @{
                if (Model.Detalji != null && Model.Detalji.Count > 0)
                {
                    foreach (var Data in Model.Detalji)
                    {
                        <tr>
                            <td style="text-align:center;vertical-align:middle">@Data.ID</td>
                            <td style="text-align:center;vertical-align:middle">@Data.Datum.ToShortDateString()</td>
                            <td style="text-align:center;vertical-align:middle">@Data.Sifra</td>
                            <td style="text-align:center;vertical-align:middle">@Data.TipLaptopa</td>
                            <td style="text-align:center;vertical-align:middle">@Data.Grad</td>
                            <td style="text-align:center;vertical-align:middle">@Data.Adresa</td>
                            <td style="text-align:center;vertical-align:middle">@Data.Komentar</td>
                            <td style="text-align:center;vertical-align:middle">@Data.Status</td>
                        </tr>
                    }
                }
                else
                {
        <tr>
            <td style="text-align:center;vertical-align:middle"><i class="fas fa-angle-double-right" style="color:skyblue; font-size:20px;"></i> Nema detalja o tom zahtjevu</td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
        </tr>
                }
            }
        </tbody>
    </table>

    <div class="col-2">
        <a asp-action="Index" class="btn btn-primary w-25"><i class="fas fa-sign-out-alt"></i></a>

    </div>
</div>
