@model AplikacijaDijeljenihRadnihMjesta.Models.ViewModel.RadnoMjestoVM

<partial name="Upozorenja" view-data="ViewData" />
@{
    ViewData["index"] = "ADMIN";

    var lokacijaID = 0;
    if (TempData["LokacijaID"] != null)
    {
        lokacijaID = (int)@TempData["LokacijaID"];

    }
    else
        lokacijaID = 0;
    var orgJedID = 0;
    if (TempData["OrgJedID"] != null)
    {
        orgJedID = (int)(TempData["OrgJedID"]);
    }
    else
        orgJedID = 0;
}

<form method="post" asp-action="Create">
    <div class="border p-3">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <h2 class="text-info pl-3"> Dodaj novo radno mjesto</h2>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="form-group row">
                     
                        <div class="col-4">
                            <label asp-for="@Model.Lokacija">Odaberilokaciju:</label>
                        </div>
                        <div class="col-8">

                            <select asp-for="@Model.Lokacija" asp-items="@Model.Lokacije" required>
                            </select>
                            
                            
                        </div>
                      
                   
                    <div class="col-4">
                        <label asp-for="Kat"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Kat" class="form-control" />
                        <span asp-validation-for="Kat" class="text-danger"></span>
                    </div>
                    <div class="col-4">
                        <label asp-for="Prostorija"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Prostorija" class="form-control" />
                        <span asp-validation-for="Prostorija" class="text-danger"></span>
                    </div>
                    <div class="col-4">
                        <label asp-for="BrojRadnogMjesta">Broj radnog mjesta</label>
                    </div>
                    <div class="col-8">
                        <input asp-for="BrojRadnogMjesta" class="form-control" />
                        <span asp-validation-for="BrojRadnogMjesta" class="text-danger"></span>
                    </div>

                    <div class="col-4">
                        <label asp-for="TipLaptopa">Model laptopa</label>
                    </div>
                    <div class="col-8">
                        <select asp-for="TipLaptopa" asp-items="@Model.tipoviLaptopa" required>
                        </select>
                        <span asp-validation-for="TipLaptopa" class="text-danger"></span>
                    </div>


                </div>
                <div class="form-group row">
                    <div class="col-8 offset-4 row">

                        <div class="col">
                            <input type="submit" class="btn btn-success w-100" value=" Dodaj" />
                        </div>
                        <div class="col">
                            @if (lokacijaID!=0)
                            {
                                <a asp-controller="RadnoMjesto" asp-action="Index" asp-route-LokacijaId="@lokacijaID" asp-route-orgJedID="@orgJedID" class="btn btn-primary w-100"><i class="fas fa-sign-out-alt"></i> </a>
                            }
                            else
                            {
                                <a asp-controller="RadnoMjesto" asp-action="Index" asp-route-LokacijaId="@lokacijaID" asp-route-orgJedID="@orgJedID" class="btn btn-primary w-100"><i class="fas fa-sign-out-alt"></i></a>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                @* Keep this empty *@
            </div>
        </div>
    </div>

</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
