@model AplikacijaDijeljenihRadnihMjesta.Models.ViewModel.RadnoMjestoVM
    <link rel="stylesheet" type="text/css" href="~/css/Stranica.css" media="screen" 7 />
<partial name="Upozorenja" view-data="ViewData" />
@{


    ViewData["index"] = "ADMIN";
    var lokacijaID = 0;
    if (TempData["LokacijaID"] != null)
    {
        lokacijaID =(int)@TempData["LokacijaID"];

    }
    else
        lokacijaID = 0;
    var orgJedID = 0;
    if (TempData["OrgJedID"] != null)
    {
        orgJedID = (int)(TempData["OrgJedID"]);
    }
    else
        orgJedID = 0;

}
<form method="post" asp-action="Edit">
    <div class="card p-3 mt-5" style="margin-top:30px!important;     margin: 0 auto;   max-width: 850px !important; justify-content:center!important;">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        @if (lokacijaID != 0)
        {
            <a asp-action="Index" asp-route-lokacijaID="@lokacijaID" asp-route-orgJedID="@orgJedID" ><i class="fas fa-arrow-left" style="justify-content:right; text-align:right; width:min-content; font-size:26px; "></i> </a>
        }
        else
        {
            <a asp-action="Index" asp-route-orgJedID="@orgJedID" ><i class="fas fa-arrow-left" style="justify-content:right; text-align:right; width:min-content; font-size:26px; "></i></a>
        }

        <div class="form-group row">
            <h2 class="text-info formTitle"> Uredi informacije o radnom mjestu</h2>
        </div>
        <div class="row">
            <div class="col-10 createRow">
                <div class="form-group row">
                    <div class="col-4 colLabel">
                        <label asp-for="@Model.Lokacija">Odaberi lokaciju:</label>
                    </div>
                    <div class="col-8">
                        <select class="form-select" asp-for="@Model.Lokacija" asp-items="@Model.Lokacije" required>
                            <option hidden selected="selected" value="@Model.Lokacija">@Model.Lokacija</option>
                        </select>
                    </div>
                    <div class="col-4 colLabel">
                        <label asp-for="Kat"></label>
                    </div>
                    <div class="col-8 colInput">
                        <input asp-for="Kat" class="form-control" />
                    </div>
                    <div class="col-4 colLabel">
                        <label asp-for="Prostorija"></label>
                    </div>
                    <div class="col-8 colInput">
                        <input asp-for="Prostorija" class="form-control" />
                    </div>
                    <div class="col-4 colLabel">
                        <label asp-for="BrojRadnogMjesta">Broj radnog mjesta</label>
                    </div>
                    <div class="col-8 colInput">
                        <input asp-for="BrojRadnogMjesta" class="form-control" />
                    </div>
                    <div class="col-4 colLabel">
                        <label asp-for="TipLaptopa">Model laptopa</label>
                    </div>
                    <div class="col-8 colInput">
                        <select class="form-select" asp-for="TipLaptopa" asp-items="@Model.tipoviLaptopa " required>
                            <option hidden selected="selected" value="@Model.TipLaptopa">@Model.TipLaptopa</option>
                        </select>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-12 row">

                        <div style="justify-content:right;    text-align: right; margin-right:15%">
                            <input type="submit" class="btn btn-success" style="justify-content:center!important; text-align:center!important; width:min-content;" value="Uredi" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                @* Keep this empty *@
            </div>
        </div>
    </div>

</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
