@model AplikacijaDijeljenihRadnihMjesta.Models.Paginacija.PaginacijaRadnoMjesto
    <link rel="stylesheet" type="text/css" href="~/css/Stranica.css" media="screen" 7 />
@{

    ViewData["index"] = "ADMIN";
    var lokacijaID = 0;
    if (TempData["LokacijaID"] != null)
    {
        lokacijaID = (int)@TempData["LokacijaID"];

    }
    else
        lokacijaID = 0;
    var orgJedID = 0;
    if (TempData["OrgJedID"] != null)
    {
        orgJedID = (int)(TempData["OrgJedID"]);
    }
    else
        orgJedID = 0;

    ViewData["Controller"] = "RadnoMjesto";
    ViewData["Action"] = "Index";
}

<partial name="Upozorenja" view-data="ViewData" />

<div class="card p-3 mt-5">
    @if ((int)lokacijaID != 0)
    {
        <a asp-controller="Lokacija" asp-action="Index" asp-route-orgJedID="@orgJedID" asp-route-lokacijaID="@lokacijaID"  style=" width: min-content!important;"><i class="fas fa-arrow-left" style="justify-content:right; text-align:right; width:min-content; font-size:26px; "></i> </a>
    }
    else
    {


    }
    <div class="col-12 pt-2 formTitle">
        @if ((int)lokacijaID == 0)
        {
            <h2 class="formTitle" style="text-align:center !important;">Popis radnih mjesta</h2>
        }
        else
        {
            <h2 class="formTitle" style="text-align:center !important;">Popis radnih mjesta na lokaciji</h2>
        }
    </div>
    <form method="post" asp-controller="RadnoMjesto" asp-route-lokacijaID="@lokacijaID" asp-route-tipLaptopaID="@Model.radnoMjestoFilter.TipLaptopaID" asp-action="Index">
        <div class="col-md-12" style="margin-bottom:10px">
            <select class="form-select" style="width:min-content; display:inline-block!important" asp-for="@Model.radnoMjestoFilter.TipLaptopaID" asp-items="@Model.radnoMjestoFilter.ListaTipovaLaptopa">
                <option>Svi modeli</option>
            </select>
            <input type="submit" style=" font-size: 1em !important; margin-left:10px; margin-bottom:10px;" class="btn btn-primary" value="Filtriraj" />
            @if ((int)lokacijaID == 0)
            {
                <a style="float:right;text-align:right!important;  color: #2973b2 !important;" asp-controller="RadnoMjesto" asp-route-LokacijaId="@lokacijaID" asp-action="Create">
                    <i class="fas fa-plus" style=" color: #2973b2 !important;"></i>
                </a>
            }

        </div>
    </form>




    @if (Model.radnoMjestoFilter.ListaRadnihMjesta != null && Model.radnoMjestoFilter.ListaRadnihMjesta.Count() > 0)
    {
        <table class="table  tableCss table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Sifra
                    </th>
                    <th>
                        Tip laptopa
                    </th>
                    <th>
                        Adresa
                    </th>
                    <th>
                        Grad
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model.radnoMjestoFilter.ListaRadnihMjesta)
                {
                    <tr>
                        <td id="items" width="30%">@obj.Sifra</td>
                        <td id="items" width="10%">@obj.TipLaptopa</td>
                        <td id="items" width="30%">@obj.Adresa</td>
                        <td id="items" width="10%">@obj.Grad</td>
                        <td class="text-center">
                            <div class="h-25 btn-group" role="group">
                                <a asp-controller="RadnoMjesto" asp-route-orgJedID="@orgJedID" asp-route-lokacijaID="@lokacijaID" asp-route-Sifra="@obj.Sifra" asp-action="Edit" class="btn btn-primary "><i class="fas fa-edit"></i></a>
                                <a asp-controller="RadnoMjesto" asp-route-Sifra="@obj.Sifra" asp-route-lokacijaID="@lokacijaID" onclick="return confirm('Jeste li sigurni da želite obrisati?')" asp-action="Delete" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>

                            </div>
                        </td>
                    </tr>
                }
            </tbody>

        </table>
        <form style="align-content:center" method="post" asp-controller="Djelatnik" asp-action="Index">
            <partial name="_Pagination" view-data="ViewData" model="Model" />
        </form>
    
    }
    else
    {

        <p>Ne postoji niti jedno radno mjesto na toj lokaciji ili nema radnih mjesta s tim modelom laptopa!</p>

    }


</div>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }

    
}