@model IEnumerable<AplikacijaDijeljenihRadnihMjesta.Models.ViewModel.OrgJedinicaVM>

<link rel="stylesheet" type="text/css" href="~/css/Stranica.css" media="screen" 7 />
<partial name="Upozorenja" view-data="ViewData" />
@{
    ViewData["index"] = "ADMIN";
    ViewData["ImePrezime"] = TempData["ImePrezime"];
}

<div class="card p-3 mt-5" style=" overflow-x: auto;">
    <div class="col-12 pt-2 formTitle">
        <h2 class="formTitle" style="text-align:center !important;">Popis organizacijskih jedinica</h2>
    </div>
    <div style="float:right;">
        <a style="float:right; text-align:right!important " asp-controller="OrganizacijskaJedinica" asp-action="Create">
            <i class="fas fa-plus" style=" color: #2973b2 !important; margin-bottom:10px;"></i>
        </a>
    </div>



    @if (Model != null && Model.Count() > 0)
    {
        <table class="table tableCss table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Naziv
                    </th>
                    <th>
                        Djelatnici
                    </th>
                    <th>
                        Informacije o djelatnicima
                    </th>
                    <th>
                        Lokacije
                    </th>
                    <th>
                        Informacije o lokacijama
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model)
                {
                    <tr>
                        <td id="items" width="20%">@obj.Naziv</td>
                        <td id="items" width="10%">@obj.BrojDjelatnika </td>
                        <td class="text-center">
                            <div class="w-25 btn-group" role="group">
                                <a asp-controller="Djelatnik" asp-route-orgJedID="@obj.Id" asp-action="Index" class="btn btn-info "><i class="fas fa-info"></i></a>

                            </div>
                        </td>
                        <td id="items" width="10%">@obj.BrojLokacija </td>
                        <td class="text-center">
                            <div class="w-25 btn-group" role="group">
                                <a asp-controller="Lokacija" asp-route-orgJedID="@obj.Id" asp-route-nazivOrgJed="@obj.Naziv" asp-action="Index" class="btn btn-info "><i class="fas fa-info"></i></a>

                            </div>
                        </td>
                        <td class="text-center">
                            <div class=" btn-group" style="width:min-content!important;" role="group">
                                <a asp-controller="OrganizacijskaJedinica" asp-route-Id="@obj.Id" asp-action="Edit" class="btn btn-primary "><i class="fas fa-edit"></i></a>

                                <a data-target="#DeleteModal-@obj.Id" data-toggle="modal" class=" btn btn-danger"><i class="fas fa-trash-alt"></i></a>
                                <form method="post" asp-action="Delete" asp-controller="OrganizacijskaJedinica" asp-route-Id="@obj.Id">
                                    <div class="modal" tabindex="-1" role="dialog" id="DeleteModal-@obj.Id">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content" style="margin-top: 30%;">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Potvrdite brisanje organizacijske jedinice</h5>
                                                </div>
                                                <div class="modal-body">
                                                    <p>Jeste li sigurni da želite obrisati organizacijsku jedinicu @obj.Naziv? </p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" style="width:min-content;" class="btn btn-primary" data-dismiss="modal">Odustani</button>
                                                    <button type="submit" style="width:min-content;" class="btn btn-danger">Obriši</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    }
    else
    {
        <p>Ne postoji niti jedna organizacijska jedinica!</p>
    }
</div>

    @section Scripts{
        @{
            <partial name="_ValidationScriptsPartial" />
        }

    }
