@model AplikacijaDijeljenihRadnihMjesta.Models.ViewModel.DjelatnikVM

    <link rel="stylesheet" type="text/css" href="~/css/Create-Edit.css" media="screen" 7 />

    <partial name="Upozorenja" view-data="ViewData" />
    @{
        ViewData["index"] = "ADMIN";
        var orgJedID = (TempData["OrgJedID"]);

    }
    <form method="post" asp-action="Create">
        <div class="border p-3">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row">
                <h2 class="text-info pl-3"> Dodaj novog zaposlenika</h2>
            </div>
            <div class="row">
                <div class="col-8">
                    <div class="form-group row">

                        <div class="col-4">
                            <label asp-for="MBR">MBR</label>
                        </div>
                        <div class="col-8">
                            <input asp-for="MBR" class="form-control" />
                            <span asp-validation-for="MBR" class="text-danger"></span>
                        </div>
                        <div class="col-4">
                            <label asp-for="Ime"></label>
                        </div>
                        <div class="col-8">
                            <input asp-for="Ime" class="form-control" />
                            <span asp-validation-for="Ime" class="text-danger"></span>
                        </div>
                        <div class="col-4">
                            <label asp-for="Prezime"></label>
                        </div>
                        <div class="col-8">
                            <input asp-for="Prezime" class="form-control" />
                            <span asp-validation-for="Prezime" class="text-danger"></span>
                        </div>
                        <div class="col-4">
                            <label asp-for="Email"></label>
                        </div>
                        <div class="col-8">
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="col-4">
                            <label asp-for="KorisnickoIme">Korisničko ime</label>
                        </div>
                        <div class="col-8">
                            <input asp-for="KorisnickoIme" class="form-control" />
                            <span asp-validation-for="KorisnickoIme" class="text-danger"></span>
                        </div>
                        <div class="col-4">
                            <label asp-for="Lozinka"></label>
                        </div>
                        <div class="col-8">
                            <input asp-for="Lozinka" class="form-control" />
                            <span asp-validation-for="Lozinka" class="text-danger"></span>
                        </div>
                        <div class="col-4 ">
                            <label asp-for="MaxBrojDanaFirma"></label>
                        </div>
                        <div class="col-8">
                            <input asp-for="MaxBrojDanaFirma" class="form-control" />
                            <span asp-validation-for="MaxBrojDanaFirma" class="text-danger"></span>
                        </div>
                        <div class="col-4">
                            <label asp-for="OrganizacijskaJedinica">Organizacijska jedinica</label>
                        </div>
                        <div class="col-8">
                            <select asp-for="OrganizacijskaJedinica" asp-items="@Model.OrganizacijskeJedinice" required>
                            </select>
                            <span asp-validation-for="OrganizacijskaJedinica" class="text-danger"></span>

                        </div>
                        <div class="col-4">
                            <label asp-for="TipLaptopa">Model laptopa</label>
                        </div>
                        <div class="col-8">
                            <select asp-for="TipLaptopa" asp-items="@Model.ModeliLaptopa" required>
                            </select>
                            <span asp-validation-for="TipLaptopa" class="text-danger"></span>
                        </div>
                        <div class="col-4">
                            <label asp-for="Uloga">Uloga</label>
                        </div>
                        <div class="col-8">
                            <select asp-for="Uloga" asp-items="@Model.Uloge" required>
                            </select>
                            <span asp-validation-for="Uloga" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-8 offset-4 row">

                        <div class="col">
                            <input type="submit" class="btn btn-success w-100" value=" Dodaj" />
                        </div>
                        @if (TempData["OrgJedID"] != null)
                        {
                            <div class="col">
                                <a asp-action="Index" asp-route-orgJedID="@orgJedID" class="btn btn-primary w-100"><i class="fas fa-sign-out-alt"></i></a>

                            </div>
                        }
                        else
                        {
                            <div class="col">
                                <a asp-action="Index" asp-route-orgJedID="@Model.OrganizacijskaJedinica" class="btn btn-primary w-100"><i class="fas fa-sign-out-alt"></i></a>

                            </div>
                        }

                    </div>
                </div>
            </div>
            <div class="col-4">
                @* Keep this empty *@
            </div>
        </div>

        </div>

    </form>

    @section Scripts{
        @{
            <partial name="_ValidationScriptsPartial" />
        }
    }
