@model AplikacijaDijeljenihRadnihMjesta.Models.Paginacija.PaginacijaDjelatnik
<link rel="stylesheet" type="text/css" href="~/css/Stranica.css" media="screen" 7 />
<partial name="Upozorenja" view-data="ViewData" />
@{
    ViewData["index"] = "ADMIN";
    var orgJedID = 0;
    string orgJedNaziv = null;
    if (TempData["OrgJedID"] != null)
    {
        orgJedID = (int)(TempData["OrgJedID"]);
        orgJedNaziv = TempData["NazivOrgJed"].ToString();

    }
    else
        orgJedID = 0;
    ViewData["Controller"] = "Djelatnik";
    ViewData["Action"] = "Index";
}

<div class="card p-3 mt-5" style=" overflow-x: auto;">
    @if ((int)orgJedID != 0)
    {
        <div class="col w-25">
            <a asp-controller="OrganizacijskaJedinica" asp-action="Index"><i class="fas fa-arrow-left" style="justify-content:right; text-align:right; width:min-content; font-size:26px; "></i></a>
        </div>

    }
    <div class="col-12 pt-2 formTitle">
        @if ((int)orgJedID == 0)
        {
            <h2 class="formTitle" style="text-align:center !important;">Popis djelatnika</h2>
        }
        else
        {
            <h2 class="formTitle" style="text-align:center !important;">Popis djelatnika unutar organizacijske jedinice: @orgJedNaziv</h2>
        }
    </div>

    <form method="post" asp-controller="Djelatnik" asp-route-orgJedID="@orgJedID" asp-action="Index">
        <div class="col-md-12" style="margin-bottom:10px">
            <select class="form-select" style="width:min-content; display:inline-block!important" asp-for="@Model.djelatnikFilter.Uloga" asp-items="@Model.djelatnikFilter.ListaUloga">
                <option>Sve uloge</option>
            </select>
            <input type="submit" style="font-size: 1em !important; margin-bottom:5px;margin-left:20px;display:inline-block" class="btn btn-primary" value="Filtriraj" />

            @if ((int)orgJedID == 0)
            {
                <a style="float:right; text-align:right;    margin-top: 10px;" asp-controller="Djelatnik" asp-route-OrgJedID="@orgJedID" asp-action="Create">
                    <i class="fas fa-plus" style=" color: #2973b2 !important;"></i>
                </a>
            }
        </div>
    </form>

    <table class="table tableCss table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    MBR
                </th>
                <th>
                    IME
                </th>
                <th>
                    PREZIME
                </th>
                <th>
                    ORGANIZACIJSKA JEDINICA
                </th>
                <th>
                    MODEL LAPTOPA
                </th>
                <th>
                    ULOGA
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model.djelatnikFilter.ListaDjelatnika)
            {
            <tr>
                <td id="items" width="10%">@obj.MBR</td>
                <td id="items" width="10%">@obj.Ime</td>
                <td id="items" width="10%">@obj.Prezime</td>
                <td id="items" width="30%">@obj.OrganizacijskaJedinica</td>
                <td id="items" width="20%">@obj.TipLaptopa</td>
                <td id="items" width="20%">@obj.Uloga</td>
                <td class="text-center">
                    <div class="w-auto btn-group" role="group">
                        @if ((int)orgJedID != 0)
                        {


                        }
                        else
                        {
                            <a asp-controller="Djelatnik" asp-route-Id="@obj.Id" asp-route-orgJedID="@orgJedID" asp-action="Edit" class="btn btn-primary "><i class="fas fa-edit"></i></a>
                            @*<a asp-controller="Djelatnik" asp-route-Id="@obj.Id" asp-route-orgJedID="@orgJedID" onclick="return confirm('Jeste li sigurni da želite obrisati?')" asp-action="Delete" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>*@
                        <a data-target="#DeleteModal-@obj.Id" data-toggle="modal" class=" btn btn-danger"><i class="fas fa-trash-alt"></i></a>
                        <form method="post" asp-action="Delete" asp-controller="Djelatnik" asp-route-Id="@obj.Id"  asp-route-orgJedID="@orgJedID" >
                            <div class="modal" tabindex="-1" role="dialog" id="DeleteModal-@obj.Id">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content" style="margin-top: 30%;">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Potvrdite brisanje djelatnika</h5>
                                        </div>
                                        <div class="modal-body">
                                            <p>Jeste li sigurni da želite izbrisati djelatnika/icu: @obj.Ime @obj.Prezime? </p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"style="width:60px;" data-dismiss="modal">Ne</button>
                                            <button type="submit" style="width:60px;" class="btn btn-danger">Da</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                           
                            }

</div>
                 </td>
             </tr>
            }
        </tbody>
    </table>
    <form style="align-content:center" method="post" asp-controller="Djelatnik" asp-action="Index">
        <partial name="_Pagination" view-data="ViewData" model="Model" />
    </form>

   



</div>
@*@{
    <partial name="_ValidationScriptsPartial" />
}*@
