@model AplikacijaDijeljenihRadnihMjesta.Models.ViewModel.LokacijaFilter
<link rel="stylesheet" type="text/css" href="~/css/Stranica.css" media="screen" 7 />
@{
    ViewData["index"] = "ADMIN";
    var orgJedID = 0;
    string orgJedNaziv = null;
    if (TempData["OrgJedID"] != null)
    {
        orgJedID = (int)(TempData["OrgJedID"]);
        orgJedNaziv = TempData["NazivOrgJed"].ToString();

    }
    else
        orgJedID = 0;
}
<partial name="Upozorenja" view-data="ViewData" />


<div class="card p-3 mt-5" style=" overflow-x: auto;">
    @if ((int)orgJedID != 0)
    {
        <a asp-controller="OrganizacijskaJedinica" asp-action="Index" asp-route-orgJedID="@orgJedID"><i class="fas fa-arrow-left" style="justify-content:right; text-align:right; width:min-content; font-size:26px; "></i> </a>
    }
    <div class="col-12 pt-2 formTitle">

        @if ((int)orgJedID == 0)
        {
            <h2 class="formTitle" style="text-align:center !important;">Popis lokacija</h2>
        }
        else
        {
            <h2 class="formTitle" style="text-align:center !important;">Popis lokacija unutar organizacijske jedinice: @orgJedNaziv</h2>
        }
    </div>

    <form method="post" asp-controller="Lokacija" asp-route-orgJedID="@orgJedID" asp-route-GradID="@Model.GradID" asp-action="Index">
        <div class="col-md-12" style="margin-bottom:10px">

            <label asp-for="@Model.GradID">Odaberi grad: </label>
            <select class="form-select" style="width:min-content; display:inline-block!important" asp-for="@Model.GradID" asp-items="@Model.ListaGradova">
                <option>Svi gradovi</option>
            </select>
            <input type="submit" style=" font-size: 1em !important; margin-left:10px; margin-bottom:10px;" class="btn btn-primary" value="Filtriraj" />




            @if ((int)orgJedID != 0)
            {
                <a style="float:right;" asp-controller="OrganizacijskaJedinica" asp-route-orgJedID="@orgJedID" asp-action="DodajLokacije" class="btn btn-primary "><i class="fas fa-edit"></i></a>
            }
            else
            {
                <a style="float:right; text-align:right !important; color: #2973b2 !important;" asp-controller="Lokacija" asp-route-OrgJedID="@orgJedID" asp-action="Create">
                    <i class="fas fa-plus" style=" color: #2973b2 !important;"></i>
                </a>
            }

        </div>
    </form>


    @if (Model != null && Model.ListaLokacija.Count() > 0)
    {
        <table class="table tableCss table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Adresa
                    </th>
                    <th>
                        Grad
                    </th>
                    <th>
                        Organizacijske jedinice
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model.ListaLokacija)
                {
                <tr>
                    <td id="items" width="40%">@obj.Adresa</td>
                    <td id="items" width="40%">@obj.Grad</td>
                    <td class="text-center">
                        <a data-target="#DohvatiModal-@obj.Id" data-toggle="modal"  class="btn btn-info"><i class="fas fa-info"></i></a>
                        <form method="get" asp-action="Index" asp-controller="Lokacija" asp-route-orgJedID="@orgJedID" asp-route-Id="@obj.Id">
                            <div class="modal" tabindex="-1" role="dialog" id="DohvatiModal-@obj.Id">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content" style="margin-top: 30%;">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Popis organizacijskih jedinica na lokaciji</h5>
                                        </div>
                                        <div class="modal-body">
                                            <p>@obj.ListaOrganizacijskihJedinica</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" style="width:min-content;" data-dismiss="modal">Odustani</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </td>
                    <td class="text-center">
                        <div class="w-100 btn-group" role="group">

                           

                            @if ((int)orgJedID != 0)
                            {
                                <a data-target="#DeleteModal-@obj.Id" data-toggle="modal" class=" btn btn-danger"><i class="fas fa-trash-alt"></i></a>
                                <form method="post" asp-action="Delete" asp-controller="Lokacija" asp-route-Id="@obj.Id" asp-route-orgJedID="@orgJedID">
                                    <div class="modal" tabindex="-1" role="dialog" id="DeleteModal-@obj.Id">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content" style="margin-top: 30%;">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Potvrdite brisanje lokacije</h5>
                                                </div>
                                                <div class="modal-body">
                                                    <p>Jeste li sigurni da želite obrisati lokaciju na adresi @obj.Adresa? </p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" style="width:60px;" class="btn btn-secondary" data-dismiss="modal">Ne</button>
                                                    <button type="submit" style="width:60px;" class="btn btn-danger">Da</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <a asp-controller="RadnoMjesto" asp-route-LokacijaId="@obj.Id" asp-route-orgJedID="@orgJedID" asp-action="Index" class="btn btn-info"><i class="fas fa-info-circle"></i></a>

                            }
                            else
                            {
                                <a data-target="#DeleteModal-@obj.Id" data-toggle="modal" class=" btn btn-danger"><i class="fas fa-trash-alt"></i></a>
                                <form method="post" asp-action="Delete" asp-controller="Lokacija" asp-route-Id="@obj.Id">
                                    <div class="modal" tabindex="-1" role="dialog" id="DeleteModal-@obj.Id">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content" style="margin-top: 30%;">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Potvrdite brisanje lokacije</h5>
                                                </div>
                                                <div class="modal-body">
                                                    <p>Jeste li sigurni da želite obrisati lokaciju na adresi @obj.Adresa? </p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" style="width:60px;" class="btn btn-secondary" data-dismiss="modal">Ne</button>
                                                    <button type="submit" style="width:60px;" class="btn btn-danger">Da</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>

                                <a asp-controller="Lokacija" asp-route-Id="@obj.Id" asp-action="Edit" class="btn btn-primary "><i class="fas fa-edit"></i></a>
                                <a asp-controller="RadnoMjesto" asp-route-LokacijaId="@obj.Id" asp-action="Index" class="btn btn-info"><i class="fas fa-info"></i></a>
                            }
                        </div>
                    </td>
                </tr>
                }
            </tbody>
        </table>


    }
    else
    {
        <p>Ne postoji niti jedan lokacija!</p>


    }
</div>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}